<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletContxtConfigEx</display-name>
  <welcome-file-list>
    <welcome-file>form.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>ceo</param-name>
    <param-value>Mr. Durga</param-value>
  </context-param>
  <context-param>
    <param-name>manager</param-name>
    <param-value>Mr. Ratan</param-value>
  </context-param>
  <servlet>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>com.tcs.EmailServlet</servlet-class>
    <init-param>
      <param-name>email1</param-name>
      <param-value>bandaritharun4@gmail.com</param-value>
    </init-param>
    <init-param>
      <param-name>email2</param-name>
      <param-value>tharun4@gmail.com</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocationServlet</display-name>
    <servlet-name>LocationServlet</servlet-name>
    <servlet-class>com.tcs.LocationServlet</servlet-class>
    <init-param>
      <param-name>location1</param-name>
      <param-value>pendurthi</param-value>
    </init-param>
    <init-param>
      <param-name>location2</param-name>
      <param-value>gajuwaka</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationServlet</servlet-name>
    <url-pattern>/LocationServlet</url-pattern>
  </servlet-mapping>
</web-app>