<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FirstApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.tcs.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.tcs.SecondServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet1</display-name>
    <servlet-name>SecondServlet1</servlet-name>
    <servlet-class>com.tcs.SecondServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet1</servlet-name>
    <url-pattern>/Second</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServletEx</display-name>
    <servlet-name>SecondServletEx</servlet-name>
    <servlet-class>com.tcs.SecondServletEx</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServletEx</servlet-name>
    <url-pattern>/SecondServletEx</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdServlet</display-name>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>com.tcs.ThirdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
</web-app>